
*{
  box-sizing: border-box;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
body {
  margin: 0;
  background-color: #7979798a;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
